.wifi{
  position: absolute;
  margin-left: 500px;
}
.dots{
  position: absolute;
  margin-top : 110px;
  margin-left: 520px;
}
.greet{
  position: absolute;
  margin-top : 50px;
  margin-left: 510px;
}
.icons{
  position: absolute;
  margin-top : 700px;
  margin-left: 495px;
  width: 500px;
}
.background{
  position: absolute;
  height: 400px;
  width: 420px;
  margin-top : 610px;
  margin-left: 500px;
  z-index: -30;
}

.navigation{
  position: absolute;
  margin-top : 1000px;
  margin-left: 510px;
}

.arrow{
  position: absolute;
  margin-top: 400px;
  margin-left: 850px;
}

.mainback{
  position: absolute;
  margin-left: 500px;
  z-index: -90;
  width: 420px;
  height: auto;
}

.label{
  position: absolute;
  margin-top: 690px;
  margin-left: 510px;
}